* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --black10: #1e1e1e;
  --grey75: #414849;
  --red10: #fff1f1;
  --red90: #761212;
  --red60: #ec1616;
  --red20: #ffc6c6;
  --primaryFont: "General Sans", sans-serif;
  --secondaryFont: "Poppins", sans-serif;
}

body {
  background-color: var(--black10);
  color: var(--red10);
}

main {
  margin: 0 20px;
}
/***   text    ***/
/* header/h1 */
h1 {
  font-family: var(--primaryFont);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

/* header/h2 */
h2 {
  font-family: var(--primaryFont);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* header/h3 */
h3 {
  font-family: var(--primaryFont);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
p {
  /* body/default */
  font-family: var(--secondaryFont);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

/***** WEB *****/
@media screen and (min-width: 800px) {
  /*MARGIN & PADDONG*/
  main {
    margin: 0 50px;
  }

  /***   text    ***/
  /* header/desktop/h1 */
  h1 {
    font-size: 96px;
  }
  /* header/desktop/h2 */
  h2 {
    font-size: 64px;
  }
  /* header/desktop/h3 */
  h3 {
    font-size: 64px;
  }
  p {
    /* body/desktop/default */
    font-size: 24px;
  }
}
