h1 {
  font-family: var(--primaryFont);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

/* header/h2 */
h2 {
  font-family: var(--primaryFont);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* header/h3 */
h3 {
  font-family: var(--primaryFont);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
p {
  /* body/default */
  font-family: var(--secondaryFont);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
h3 {
  display: flex;
  justify-content: center;
}
.house_disco_techno {
  margin-top: 100px;
  width: 1005px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: justify;
  gap: 10px;
}

.house_disco_techno h1 {
  /*
  background-image: linear-gradient(to right, #ffff, #761212, #a41010, #c60f0f, #ec1616, #fe3535, #4a0505, #761212, #a41010, #c60f0f, #ec1616, #fe3535);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  animation: animate-title 3s linear infinite;
  font-size: 70px;
}

@keyframes animate-title {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
/*/
  color: transparent;
  -webkit-text-stroke: 1px #ffffff; /* Outline color and width 
  word-spacing: 30px;
  background: linear-gradient(#4a0505, #761212, #a41010, #c60f0f, #ec1616, #fe3535);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate-title 10s linear infinite;*/
}
.house_disco_techno .img_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.house_disco_techno img {
  width: auto;
  border-radius: 15px;
  height: 90px;
}

.time_place {
  margin: 30px;
}
/*///////////////////////////////////////////*/
.fresh-acts h3 {
  display: flex;
  justify-content: flex-start;
}
/*/ //////LINE UP & ACTS MAP BUTTONS/////////*/
.buttons {
  display: flex;
  justify-content: center;
}
.buttons .button1,
.button2 {
  border: #741313 solid 10px;
  background-color: transparent;
  font-family: var(--primaryFont);
  font-size: 26px;
  font-weight: bold;
  color: #741313;
  padding: 40px 70px 40px 70px;
  margin: 40px;
  justify-content: center;
  text-decoration: none;
}

.button1 {
  border-radius: 35px 0 35px;
}
.button2 {
  border-radius: 0 35px 0 35px;
}

/*/ //////INFO BOX/////////*/
.my-festival-info-box {
  margin: 5px;
  padding: 50px 0px 50px 0px;
}
.my-festival-info-box h3 {
  display: flex;
  background-color: #741313;
  border-radius: 15px;
  padding: 20px;
  justify-content: flex-end;
  font-family: var(--primaryFont);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.my-festival-info-box .first-box {
  display: inline-block;
  justify-content: flex-end;
  border-radius: 15px 15px 0 0;
}
.my-festival-info-box .second-box {
  display: inline-block;
  justify-content: flex-end;
  border-radius: 0px 15px 15px 15px;
}
/*/ //////GALLERY INDEX/////////*/
.gallery_index img {
  border-radius: 30px;
  max-width: 390px;
  max-height: auto;
  padding: 15px;
}

.gallery_index {
  display: inline-block;
  flex-flow: wrap;
  justify-content: center;
}
.gallery_index_video {
  background-color: #741313;
  border-radius: 20px 20px 0 0;
  padding: 30px;
}
.gallery_index_images {
  background-color: #741313;
  border-radius: 0px 0px 20px 20px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 30px;
}
.index_img_one {
  max-width: 400px;
  max-height: auto;
}
.index_img_two {
  max-width: 400px;
  max-height: auto;
}
.index_img_three {
  max-width: 400px;
  max-height: 412px;
  border-radius: 25px;
}
.index_img_four {
  max-width: 400px;
  max-height: auto;
  border-radius: 25px;
}
@media (max-width: 700px) {
  .house_disco_techno {
    display: flex;
    max-width: fit-content;
  }
  .house_disco_techno h1 {
    font-size: 30px;
  }
  .house_disco_techno img {
    max-width: 140px;
    height: auto;
    align-self: flex-end;
  }
  h3 {
    font-size: 20px;
  }
  .buttons {
    padding: 0 0 0 0;
    gap: 0;
  }
  .buttons {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    text-wrap: nowrap;
  }
  .buttons .button1 {
    font-size: 10px;
    max-width: 30px;
    max-height: auto;
    padding: 10px 125px 10px 15px;
    margin-right: 10px;
    border: #741313 solid 5px;
  }
  .buttons .button2 {
    font-size: 10px;
    max-width: 30px;
    max-height: auto;
    padding: 10px 125px 10px 15px;
    margin-left: 10px;
    border: #741313 solid 5px;
  }
  .my-festival-info-box .first-box {
    border-radius: 15px 15px 0 0;
  }
  .my-festival-info-box .second-box {
    border-radius: 0 0 15px 15px;
  }
  .my-festival-info-box h3 {
    font-size: 20px;
  }
  .gallery_index_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: fit-content;
    gap: 5px;
  }
  .index_img_one {
    grid-column: 1/2;
    grid-row: 1/2;
    width: fit-content;
    height: auto;
  }
  .index_img_two {
    grid-column: 2/3;
    grid-row: 1/2;
    width: fit-content;
    height: auto;
  }
  .index_img_three {
    grid-column: 1/2;
    grid-row: 2/3;
    min-width: 100px;
    height: auto;
    border-radius: 15px;
  }
  .index_img_four {
    grid-column: 2/3;
    grid-row: 2/3;
    width: fit-content;
    height: auto;
  }
}
