---
import Skelet from "../layout/Skelet.astro";
---

<Skelet title="About us">
  <section>
    <h3>2024</h3>
    <p>Karrusel, Copenhagen, Refshaleøen</p>
    <p>22–24 August 2024</p>
    <p>
      3 days of house, disco, and techno in the magical forest. Karrusel takes
      place at a secluded green spot on Refshaleøen in central Copenhagen.
    </p>
    <p>Address: Refshalevej 193, 1432 Copenhagen.</p>
  </section>
  <section>
    <h3>Thanks</h3>
    <p>
      Special thanks to each and every volunteer, Heineken Silver for supporting
      new and wild ideas and Refshaleøen for meeting our housing needs.
    </p>
  </section>
  <section>
    <h3>Festival experience</h3>
    <p>
      Karrusel believes in the right to a harassment-free festival experience.
      We believe in the right of everyone to express themselves. Karrusel
      welcomes everybody – all with their different orientations, experiences,
      histories and backgrounds. Karrusel only exists if everyone takes care of
      each other, respects their own and others boundaries, embraces diversity
      and acts as a part of the community. If you feel unsafe, please reach out
      to our awareness team. They will be wearing a pink vests and walk around
      the site and be at their base (see on this map). Ask any festival staff
      and they will guide you to the them.
    </p>
    <p>Take responsibility for your own actions</p>
    <p>Respect your own and others boundaries</p>
    <p>Speak up rather than look the other way.</p>
  </section>
  <section>
    <h3>Sustainability</h3>
    <p>
      Karrusel is committed to becoming more sustainable. In order to save
      resources and reduce waste we use left over materials and timber for stage
      designs and installations. We will re-use production and print materials
      when possible year after year. Beverages are served in reusable or
      sustainable materials. Straws are not being used. How you can help: Take a
      bike or public transport to the festival. Don’t bring confetti or glitter
      to the festival. There will be free tap water stations during the
      festival. Please bring an empty cup or bottle and drink nice free tap
      water.
    </p>
  </section>
  <section>
    <h3>History</h3>
    <p>
      2024 marks the 5th edition of Karrusel. Karrusel is a circus themed rave
      presenting some of the world's leading electronic artists. Past editions
      include performances by Acid Pauli, Amelie Lens, Dixon, FJAAK, Folamour,
      Hunee, Job Jobse, Kölsch, Mall Grab, Nastia, Partiboi69, Peggy Gou, Richie
      Hawtin, Skin On Skin, The Blessed Madonna, Victor Ruiz and VTSS. The
      festival is open air and takes place on secluded green spot at the
      abandoned shipyard of Refshaleøen in central Copenhagen.
    </p>
  </section>
  <section>
    <h3>Contact</h3>
    <p>Contact: info@nusnus.dk. Karrusel is organized by Nus Nus.</p>
  </section>
</Skelet>

<style>
  p {
    max-width: 65ch;
    line-height: normal;
    padding: 10px 0;
  }
  section {
    margin: 50px 0;
  }
  h3 {
    font-size: 24px;
  }
  h1 {
    padding-top: 100px;
  }
</style>
