---
import Skelet from "../layout/Skelet.astro";
import Button from "../components/Button.astro";
---

<Skelet title="GALLERY">
  <section>
    <Button class="b_2023" year="2023" />
    <Button class="b_2023" year="2022" />
    <Button class="b_2023" year="2021" />
    <Button class="b_2023" year="2020" />
  </section>
  <div class="am">
    <h3>KARRUSEL 2023 AFTERMOVIE</h3>
    <img src="/img/am.webp" alt="" />
  </div>
  <h3>KARRUSEL 2023 PICTURES</h3>

  <div class="galler_wrapper">
    <div class="g_wrapper_ab">
      <div class="gallery_container_a">
        <div class="gallery_v1">
          <img src="/img/v1.webp" alt="Image1" class="modal_image" />
          <div class="gallery_modal">
            <span class="close">&times;</span>
            <img class="modal_content" />
          </div>
        </div>
      </div>

      <div class="gallery_container_b">
        <div class="gallery_v2">
          <img src="/img/v2.webp" alt="Image2" class="modal_image" />
          <div class="gallery_modal">
            <span class="close">&times;</span>
            <img class="modal_content" />
          </div>
        </div>
      </div>
    </div>

    <div class="gallery_container_c">
      <div class="gallery_s1">
        <img src="/img/s1.webp" alt="Image3" class="modal_image" />
        <div class="gallery_modal">
          <span class="close">&times;</span>
          <img class="modal_content" />
        </div>
      </div>
    </div>
    <div class="g_wrapper_de">
      <div class="gallery_container_d">
        <div class="gallery_f1">
          <img src="/img/f1.webp" alt="Image4" class="modal_image" />
          <div class="gallery_modal">
            <span class="close">&times;</span>
            <img class="modal_content" />
          </div>
        </div>
      </div>

      <div class="gallery_container_e">
        <div class="gallery_f2">
          <img src="/img/f2.webp" alt="Image5" class="modal_image" />
          <div class="gallery_modal">
            <span class="close">&times;</span>
            <img class="modal_content" />
          </div>
        </div>
      </div>
    </div>

    <div class="gallery_container_f">
      <div class="gallery_s2">
        <img src="/img/s2.webp" alt="Image6" class="modal_image" />
        <div class="gallery_modal">
          <span class="close">&times;</span>
          <img class="modal_content" />
        </div>
      </div>
    </div>
  </div>
  <!-- Add more gallery containers as needed -->
</Skelet>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .am {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 8%;
    width: 92%;
  }
  .am img {
    align-items: center;
  }

  .modal_image {
    width: 100%;
    height: auto;
    display: block;
  }
  .g_wrapper_ab,
  .g_wrapper_de,
  .gallery_container_c,
  .gallery_container_f {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding-bottom: 20px;
  }

  .gallery_modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    z-index: 999; /* Ensure modal appears above other content */
    padding-top: 100px; /* Center the modal vertically */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if modal content exceeds viewport height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  }

  .modal_content {
    margin: auto;
    display: block;
    max-width: 100%; /* Adjust max width of modal content as needed */
    max-height: 100vh; /* Adjust max height of modal content as needed */
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  @media screen and (min-width: 1000px) {
  }
</style>

<script>
  // Get all modal containers
  var modals = document.querySelectorAll(".gallery_modal");

  // Loop through each modal container
  modals.forEach(function (modal) {
    // Get the image inside this modal
    var img = modal.parentElement.querySelector(".modal_image");
    var modalImg = modal.querySelector(".modal_content");

    // Open modal when image is clicked
    img.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
    };

    // Get the <span> element that closes the modal for this modal
    var span = modal.querySelector(".close");
    // Close modal when the <span> is clicked
    span.onclick = function () {
      modal.style.display = "none";
    };

    // Close modal when clicking outside for this modal
    window.addEventListener("click", function (event) {
      if (event.target === modal) {
        modal.style.display = "none";
      }
    });
  });
</script>
