---
import Skelet from "../layout/Skelet.astro";
import Banner from '../components/Banner.astro';
import SmallCard from "../components/SmallCard.astro";
import Carousel from "../components/Carousel.astro";
import Heart from "../components/Heart.astro";
const data = await fetch(
  "https://uvbxoelxnxgaxzhtqltc.supabase.co/rest/v1/artists",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2YnhvZWx4bnhnYXh6aHRxbHRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTI2NDMsImV4cCI6MjAyNjA2ODY0M30.9IGFv7B_qRusv2zUrH9tJ55r4XCJtXT6DbsgnhCLSmU",
    },
  }
).then((res) => res.json());

console.log(data);
import "../styles/index.css";
---

<Skelet title=" " >
<Banner />
<div class="house_disco_techno">
    <h1>3 DAYS OF</h1>
    <div class="img_container">
    <img src="/public/img/image_2_title.jpg" alt=""> 
    </div><div class="img_container">
    <img src="/public/img/image_1_title.jpg" alt="">
</div>
    <h1>HOUSE, DISCO AND</h1>
    <div class="img_container">
    <img src="/public/img/image_3_title.jpg" alt="">
</div>
    <h1>TECHNO IN THE WOODS</h1>
    <div class="img_container">
    <img src="/public/img/image_4_title.jpg" alt="">
</div>
</div>
<br>
<div class="time_place">
    <h3>22 - 24 AUGUST</h3>
    <h3>REFSHALEØEN, COPENHAGEN</h3>
</div>
<br>
<Heart />
<br>
<div class="fresh-acts">
<Carousel>
    <SmallCard>
    <img src="/public/img/fjaak_smallcard.png" alt="FJAAK">
    <div class="artist-info">
        <div class="red-border"></div>
        <div class="performance-info">
            <p>Date: March 25</p>
            <p>Time: 8:00 PM</p>
        </div>
        <h2 class="artist-name">Artist Name</h2>
    </div>   
</SmallCard>
<SmallCard>
    <img src="/public/img/SPFDJ_smallcard.png" alt="Artist Image" class="artist-image">

    <div class="artist-info">
        <div class="red-border"></div>

        <div class="performance-info">
            <p>Date: </p>
            <p>Time: </p>
        </div>
        <h2 class="artist-name"></h2>
</SmallCard>
<SmallCard>
    <img src="/public/img/anna-logic_smallcard.png" alt="Artist Image" class="artist-image">

    <div class="artist-info">
        <div class="red-border"></div>

        <div class="performance-info">
            <p>Date: </p>
            <p>Time: </p>
        </div>
        <h2 class="artist-name"></h2>
</SmallCard>
</Carousel>

</div>
<div class="buttons"></div>
<div class="my-festival-info-box">
    <h4>Personalize your festival planning with our new feature 'My festival'</h4>    
    <h4>This feature makes it quick and easy to get an overview of when and where your favorite acts are playing. By adding your favorite acts, My Festival generates personalized playlists, programs and maps, that let’s you lean back enjoy your festival experience without the hassle of planning on the go!
</h4>

</div> <br>
<div class="gallery_index_video">
    <a href="https://www.youtube.com/watch?v=w5XwDzNwiSk"><img src="/public/img/gallery_index_video.png" alt="Karrusel aftermovie 2023"></a>
</div>
<div class="gallery_index_images">
    <img src="/public/img/1_gallery_index.png" alt="" class="index_img">
    <img src="/public/img/2_gallery_index.png" alt="" class="index_img">
    <a href="/src/pages/gallery.astro"><img src="/public/img/3_gallery_index.png" alt="view gallery button" class="index_img"></a>    
    <img src="/public/img/4_gallery_index.png" alt="" class="index_img">
    <img src="/public/img/5_gallery_index.png" alt="" class="index_img">
</div>
</Skelet>

