---
import Skelet from "../layout/Skelet.astro";
import Day from "../components/Day.astro";

// const url = "https://uvbxoelxnxgaxzhtqltc.supabase.co/rest/v1/artists";
// const options = {
//   headers: {
//     apikey:
//       "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2YnhvZWx4bnhnYXh6aHRxbHRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTI2NDMsImV4cCI6MjAyNjA2ODY0M30.9IGFv7B_qRusv2zUrH9tJ55r4XCJtXT6DbsgnhCLSmU",
//   },
// };
// const response = await fetch(url, options);
// const lineup = await response.json();
const data = await fetch(
  "https://uvbxoelxnxgaxzhtqltc.supabase.co/rest/v1/artists",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2YnhvZWx4bnhnYXh6aHRxbHRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTI2NDMsImV4cCI6MjAyNjA2ODY0M30.9IGFv7B_qRusv2zUrH9tJ55r4XCJtXT6DbsgnhCLSmU",
    },
  }
).then((res) => res.json());
console.log(data);

const Thursday = data.filter((artists) => artists.day == `thursday`);
const Friday = data.filter((artists) => artists.day == `friday`);
const Saturday = data.filter((artists) => artists.day == `saturday`);
---

<!-- INDEX -->
<Skelet title="program">
  <Day indhold={Thursday} filter="Thursday" dato="Thursday 24 AUG" />
  <Day indhold={Friday} filter="Friday" dato="Friday 25 AUG" />
  <Day indhold={Saturday} filter="Saturday" dato="Saturday 26 AUG" />
</Skelet>

<!-- <section class="artists">
    {
      lineup.map((artist) => {
        return <ProgramCard data={artist} />;
      })
    }
  </section> -->

<style></style>
