---
import Skelet from "../layout/Skelet.astro";
import ProgramCard from "../components/ProgramCard.astro";
const data = await fetch(
  "https://uvbxoelxnxgaxzhtqltc.supabase.co/rest/v1/artists",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2YnhvZWx4bnhnYXh6aHRxbHRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTI2NDMsImV4cCI6MjAyNjA2ODY0M30.9IGFv7B_qRusv2zUrH9tJ55r4XCJtXT6DbsgnhCLSmU",
    },
  }
).then((res) => res.json());

console.log(data);
---

<Skelet title="program">
  <section class="artists">
    {
      data.map((artist) => {
        return <ProgramCard data={artist} />;
      })
    }
  </section>
</Skelet>
