---
import SmallCard from "./SmallCard.astro"

---

<div class="carousel">
    <SmallCard>
        <div class="card_small">
            <img src="/public/img/fjaak.jpg" alt="fjaak" class="fjaak_small">
            <img src="/public/img/card_red.svg" alt="frame" class="frame_small">
            <div class="upper_text_small">
                <h4>26</h4>
                <h5>AUG</h5>
            </div>
            <div class="lower_text_small">
                <h5>FJAAK</h5>
                <h5>01:00-03:00</h5>
            </div>
            <div class="heart"></div>
        </div>
    </SmallCard> <SmallCard>
        <div class="card_small">
            <img src="/public/img/fjaak.jpg" alt="fjaak" class="fjaak_small">
            <img src="/public/img/card_red.svg" alt="frame" class="frame_small">
            <div class="upper_text_small">
                <h4>26</h4>
                <h5>AUG</h5>
            </div>
            <div class="lower_text_small">
                <h5>FJAAK</h5>
                <h5>01:00-03:00</h5>
            </div>
            <div class="heart"></div>
        </div>
    </SmallCard><SmallCard>
        <div class="card_small">
            <img src="/public/img/fjaak.jpg" alt="fjaak" class="fjaak_small">
            <img src="/public/img/card_red.svg" alt="frame" class="frame_small">
            <div class="upper_text_small">
                <h4>26</h4>
                <h5>AUG</h5>
            </div>
            <div class="lower_text_small">
                <h5>FJAAK</h5>
                <h5>01:00-03:00</h5>
            </div>
            <div class="heart"></div>
        </div>
    </SmallCard>
    <SmallCard />
    <SmallCard />
    <SmallCard />
    <SmallCard />
    <SmallCard />
    <SmallCard />
    <SmallCard />
    <SmallCard />
    <SmallCard />
    <SmallCard />
    <SmallCard />
</div>
<style>
    .carousel {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;
        /* Set a minimum width to ensure horizontal scrolling */
        min-width: 100%;
        /* Allow items to wrap if they exceed container width */
        flex-wrap: nowrap;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }

    .card_small {
        max-width: 300px; /* Set a maximum width for the cards */
        width: auto; /* Allow cards to adjust their width based on content */
        max-height: 300px;
        flex-shrink: 0; /* Prevent cards from shrinking */
    }

    .card_small img {
        width: 100%; /* Ensure images fill the card container */
        height: auto; /* Maintain aspect ratio */
    }

    .card_small:hover {
        transform: scale(1.2);
        z-index: 1;
    }
</style>