---
import ProgramCard from "../components/ProgramCard.astro";
const { dato, filter, data, indhold } = Astro.props;
---

<!-- SEKTION -->
<div class="date_container">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="240"
    height="44"
    viewBox="0 0 240 44"
    fill="none"
  >
    <rect
      x="0.5"
      y="0.5"
      width="122"
      height="32"
      rx="16"
      fill="#761212"
      stroke="#761212"></rect>
    <mask id="path-2-inside-1_1217_9770" fill="white">
      <path d="M118 18H229V33H128C122.477 33 118 28.5228 118 23V18Z"></path>
    </mask>
    <path
      d="M118 18H229H118ZM229 38H128C119.716 38 113 31.2843 113 23H123C123 25.7614 125.239 28 128 28H229V38ZM128 38C119.716 38 113 31.2843 113 23V18H123V23C123 25.7614 125.239 28 128 28V38ZM229 18V33V18Z"
      fill="#761212"
      mask="url(#path-2-inside-1_1217_9770)"></path>
    <rect
      x="109.5"
      y="28.5"
      width="18"
      height="4"
      fill="#761212"
      stroke="#761212"></rect>
    <mask id="path-5-inside-2_1217_9770" fill="white">
      <path
        d="M223 28H230C235.523 28 240 32.4772 240 38V44H233C227.477 44 223 39.5228 223 34V28Z"
      ></path>
    </mask>
    <path
      d="M223 23H230C238.284 23 245 29.7157 245 38H235C235 35.2386 232.761 33 230 33H223V23ZM240 44H223H240ZM223 44V28V44ZM230 23C238.284 23 245 29.7157 245 38V44H235V38C235 35.2386 232.761 33 230 33V23Z"
      fill="#761212"
      mask="url(#path-5-inside-2_1217_9770)"></path>
  </svg>
  <h3>{dato}</h3>
  {
    indhold.map((artist) => (
      <ProgramCard navn={artist.name} link={"/artist/" + artist.slug} />
    ))
  }
</div>
<div>
  <div class="date_container_web">
    <svg
      width="504"
      height="87"
      viewBox="0 0 504 87"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="204" height="59" rx="29.5" fill="#741313"></rect>
      <mask id="path-2-inside-1_1220_9808" fill="white">
        <path d="M194 24H484V59H214C202.954 59 194 50.0457 194 39V24Z"></path>
      </mask>
      <path
        d="M194 24H484H194ZM484 69H214C197.431 69 184 55.5685 184 39H204C204 44.5228 208.477 49 214 49H484V69ZM214 69C197.431 69 184 55.5685 184 39V24H204V39C204 44.5228 208.477 49 214 49V69ZM484 24V59V24Z"
        fill="#741313"
        mask="url(#path-2-inside-1_1220_9808)"></path>
      <rect x="174" y="49" width="42" height="10" fill="#741313"></rect>
      <mask id="path-5-inside-2_1220_9808" fill="white">
        <path
          d="M459 49H484C495.046 49 504 57.9543 504 69V87H479C467.954 87 459 78.0457 459 67V49Z"
        ></path>
      </mask>
      <path
        d="M459 39H484C500.569 39 514 52.4315 514 69H494C494 63.4772 489.523 59 484 59H459V39ZM504 87H459H504ZM459 87V49V87ZM484 39C500.569 39 514 52.4315 514 69V87H494V69C494 63.4772 489.523 59 484 59V39Z"
        fill="#741313"
        mask="url(#path-5-inside-2_1220_9808)"></path>
    </svg>
    <h3>{dato}</h3>
    {
      indhold.map((artist) => (
        <ProgramCard navn={artist.name} link={"/artist/" + artist.slug} />
      ))
    }
  </div>
</div>

<style>
  h3 {
    position: absolute;
    top: 0;
    left: 22%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;
  }
  .date_container,
  .date_container_web {
    margin-top: 34px;
    display: flex;
    position: relative;
    justify-content: center;
  }
  .date_container_web {
    display: none;
  }

  @media screen and (min-width: 800px) {
    h3 {
      font-size: 16px;
      left: 32%;
      padding: 15px 11px;
    }
    .date_container {
      display: none;
    }
    .date_container_web {
      display: flex;
    }
  }
</style>
