---
const { data, navn, link } = Astro.props;
---

<a href={link}>
  <article class="artist_lineup_main">
    <h2>{navn}</h2>
  </article>
</a>

<style>
  h2 {
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red60);
  }
  h2:hover {
    color: var(--red10);
    -webkit-text-stroke-width: 0;
  }
  a {
    text-decoration: none;
  }
</style>
