---
const { data, navn, link } = Astro.props;
---

<!-- PERSONKORT -->
<a href={link}>
  <article class="artist_lineup_main">
    <h2>{navn}</h2>
  </article>
</a>

<!-- <a href=""><h3>{data.name}</h3></a> -->

<style>
  h2 {
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red60);
  }

  .artist_lineup_main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
