---
const { data, dato } = Astro.props;
console.log(data);
---

<article class="artist_lineup">
  <a href={`artists/${data.slug}`}> <h2>{data.name}</h2></a>
  <a href=""><h3>{data.name}</h3></a>
</article>

<style>
  h2 {
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red60);
  }

  .artist_lineup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
